:root{
  --button-color: #c3cedb
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 14px 18px;
}

body > header { 
  padding: 0 0.5rem .75rem 0.5rem;
}

body {
  grid-template-columns: 10% 80% 10%;
}

.form-control {
  width: 50%;
}

.help {
  font-style: italic;
}

.view-listing {
  float: right;
  background-color: var(--button-color);
  border-radius: .3rem;
}


.cancel-button{
  margin: 5px;
  background-color: var(--button-color);
  border-radius: .3rem;
}

.listing-buttons {
  display: inline;
}

.w3-badge{
  padding: 5px;
  float: right;
  border-radius: 10px;
}

.profile-image{
  width: 40px; 
  border-radius:50%
}
