{% extends "auctions/layout.html" %}

{% block main %}
{% if user.is_authenticated %}
    <h2>Create Listing</h2>
    {% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    {% endif %}


    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form %}
            {{ field.label }}<br>
            {{ field }} 
            {% if  field.help_text %}
               {{ field.help_text }}<br>  
            {% endif %}  <br>
            
        {% endfor %}
        <input type="Submit"><a class="w3-button cancel-button"  href="{% url 'index' %}">Cancel</a>
    </form>
{% else %}
You must be logged in to make a listing
{% endif %}


{% endblock %}