{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static 'auctions/uaa490styles.css' %}" > 
        <link rel="stylesheet" href="{% static 'auctions/lightbox/lightbox2/dist/css/lightbox.css' %}" >    
   </head>
    <body>
        <header>
            <h1>Auctions "R" Us</h1>
            <nav>
                <span>
                    <a href="{% url 'index' %}">Active Listings <span id='al'></span></a>
                    <a href="{% url 'categories' 'All' %}">Categories</a>
                    <a href="{% url 'watchlist' %}">Watchlist <span id='wl'></span></a>
                    <a href="{% url 'create_listing' %}">Create Listing</a>                   
                </span>
                <span>
                    {% if user.is_authenticated %}
                         
                        <div class="w3-dropdown-hover">
                            <button class="w3-button"><strong>Welcome {{ user.username }}!</strong> </button>                      
                            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                                <a href="{% url 'my_listings' %}" class="w3-bar-item w3-button">My Listings</a>
                                <a href="{% url 'my_wins' %}" class="w3-bar-item w3-button">Won Auctions</a>
                              </div>
                        </div>

                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>           
        <script src="{% static 'auctions/auctions.js' %}"></script>   
        <script type="text/javascript" src="{% static 'auctions/lightbox/lightbox2/dist/js/lightbox-plus-jquery.js' %}"></script>
    </body>
     
   
</html>
